<footer class="footer">
      <a href="https://www.expertise.com/mo/kansas-city/newborn-photography" target="_blank" rel="noopener"><img src="/images/mo_kansas-city_newborn-photography_2020.svg" width="200" height="160" alt="Best Newborn Photographers in Kansas City" /></a>
      <small class="byline">&copy; 2006-{new Date().getFullYear()} Allison Carenza Photography</small>
</footer>

<style lang="scss">
    .footer {
        flex: 0 0 auto;
        width: 100%;
        text-align: center;
        padding: 2em;
        margin-top: 4rem;
        border-top: 1px solid #dee2e6;
        .byline {
            display: block;
            margin-top: 1rem;
            color: #5d646b;
            font-size: .8rem;
            text-transform: uppercase;
        }
    }
</style>